@model Application

@{
    ViewData["Title"] = "Application Details";
}
<link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />

@*<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApplicationDetails</title>
</head>
<body>*@

<div>
    <h4>Application Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StreetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.No_Of_Rooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No_Of_Rooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.No_of_perches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No_of_perches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
@*</body>
</html>
*@