@using static InHomePlanWeb.Utility.Enums
@model Application
@{
ViewData["Title"] = "Application Details";
}
<link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />
<form id="Application" class="form" method="post" enctype="multipart/form-data">
   <h4 class="text-center">Application Details</h4>
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>

   <div>
      <h5>Personal Details</h5>
      <hr>
      <div class="row">
         <div class="col">
            <div class="input-group">
               <label asp-for="FirstName"></label>
               <input asp-for="FirstName" disabled/>
               <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="LastName"></label>
               <input asp-for="LastName" disabled/>
               <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="Address"></label>
         <input asp-for="Address" disabled/>
         <span asp-validation-for="Address" class="text-danger"></span>
      </div>
      <div class="row">
         <div class="col">
            <div class="input-group">
               <label asp-for="Phone"></label>
               <input asp-for="Phone" disabled/>
               <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="NIC "></label>
               <input asp-for="NIC" disabled/>
               <span asp-validation-for="NIC" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="Email"></label>
         <input asp-for="Email" disabled/>
         <span asp-validation-for="Email" class="text-danger"></span>
      </div>
      <div class="input-group">
         <label asp-for="DateOfBirth"></label>
         <input asp-for="DateOfBirth" disabled/>
         <span asp-validation-for="DateOfBirth" class="text-danger"></span>
      </div>
   </div>
   <!--second part -->
   <div>
      <br>
      <h5>Plan Details</h5>
      <hr>
      <div class="row">
         <div class="col">
            <div class="input-group">           
               <label asp-for="AssessmentNo"></label>
               <input asp-for="AssessmentNo" disabled/>
               <span asp-validation-for="AssessmentNo" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="PostalCode"></label>
               <input asp-for="PostalCode" disabled/>
               <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="StreetName"></label>
         <input asp-for="StreetName" disabled/>
         <span asp-validation-for="StreetName" class="text-danger"></span>
      </div>
      <div class="row">
         <div class="col">
            <div class="input-group">
               <label asp-for="No_Of_Rooms"></label>
               <input asp-for="No_Of_Rooms" disabled/>
               <span asp-validation-for="No_Of_Rooms" class="text-danger"></span>
            </div>
         </div>
         <div class="col">
            <div class="input-group">
               <label asp-for="No_of_perches"></label>
               <input asp-for="No_of_perches" disabled/>
               <span asp-validation-for="No_of_perches" class="text-danger"></span>
            </div>
         </div>
      </div>
      <div class="input-group">
         <label asp-for="BuildingArea"></label>
         <input asp-for="BuildingArea" disabled/>
         <span asp-validation-for="BuildingArea" class="text-danger"></span>
      </div>
   </div>
   <!--third part-->
   <div >
      <div class="input-group">
         <label asp-for="PlanNo"></label>
         <input asp-for="PlanNo" disabled/>
         <span asp-validation-for="PlanNo" class="text-danger"></span>
      </div>
      <div class="row">
         <div class="col">
            <a href="@Url.Action("DownloadFile", "Application", new { filePath = Model.HomePlanFileUrl })" download>
            <i class="fas fa-file-download fa-3x"></i> Download Home Plan
            </a>
         </div>
         <div class="col">
            <a href="@Url.Action("DownloadFile", "Application", new { filePath = Model.LandPlanFileUrl })" download>
            <i class="fas fa-file-download fa-3x"></i> Download Land Plan
            </a>
         </div>
      </div>
   </div>
   <!--fourth part -->
   <div>
   <br/>
   <h5>Approval Details</h5>
   <hr />
   <div class="row">
      <div class="col">
         <div class="input-group">           
            <label asp-for="IsPlanApproved" ></label>
         </div>
      </div>
      <div class="col">
         <div class="input-group">
            <select asp-for="IsPlanApproved" class="form-select">
               <option value="@BoolOptions.Yes">Yes</option>
               <option value="@BoolOptions.No">No</option>
            </select>
         </div>
      </div>
   </div>
   <div class="input-group">
      <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
   </div>
   <div class="row">
      <div class="col">
         <div class="input-group">           
            <label asp-for="IsInspectionCompleted"></label>
         </div>
      </div>
      <div class="col">
         <div class="input-group">
            <select asp-for="IsInspectionCompleted" class="form-select">
               <option value="@BoolOptions.Yes">Yes</option>
               <option value="@BoolOptions.No">No</option>
            </select>
         </div>
      </div>
   </div>
   <div class="input-group">
      <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
   </div>
   <div class="row">
      <div class="col">
         <div class="input-group">           
            <label asp-for="IsFinalApproved"></label>
         </div>
      </div>
      <div class="col">
         <div class="input-group">
            <select asp-for="IsFinalApproved" class="form-select">
               <option value="@BoolOptions.Yes">Yes</option>
               <option value="@BoolOptions.No">No</option>
            </select>
         </div>
      </div>
   </div>
   <div class="input-group">
      <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
   </div>
   <!--final part-->
   <div>
      <div class="row">
         <div class="col">
            <a href="@Url.Action("ApplicationDisplay", "Application")" class="btn">Back to List</a>
         </div>
         <div class="col">
            @*<a href="@Url.Action("ApplicationDetailsAsync", "Application", new { obj = Model })" class="btn btn-red">Update Application</a>*@
            <button type="submit" form="Application" class="btn btn-red btn-wide">Update Application</button>
         </div>
      </div>
   </div>
</form>
<script src="https://kit.fontawesome.com/746043b767.js" crossorigin="anonymous"></script>
<br>