@using static InHomePlanWeb.Utility.Enums
@model Application

@{
    ViewData["Title"] = "Application Details";
}
<link rel="stylesheet" href="~/css/application.css" asp-append-version="true" />

<br>
<br><br>
<br>
<br>
<br>
<form id="Application" class="form" method="post">
    <h4 class="text-center">Application Details</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Progress bar -->
    @*<div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Personal Details"></div>
        <div class="progress-step" data-title="Plan Details"></div>
        <div class="progress-step" data-title="Approval Details"></div>
    </div>*@

    <!-- Steps -->
    <!--first part-->
    <div>
        <h5>Personal Details</h5>
        <hr>
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label asp-for="FirstName"></label>
			        <input asp-for="FirstName"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col">
                <div class="input-group">
                    <label asp-for="LastName"></label>
			        <input asp-for="LastName"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label asp-for="Address"></label>
            <input asp-for="Address"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">
                    <label asp-for="Phone"></label>
			        <input asp-for="Phone"/>
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label asp-for="NIC "></label>
			        <input asp-for="NIC"/>
                    <span asp-validation-for="NIC" class="text-danger"></span>
                </div>
            </div>
        </div>

       <div class="input-group">
            <label asp-for="Email"></label>
            <input asp-for="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="input-group">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth"/>
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

    </div>

    <!--second part -->
   
    <div>
        <br>
        <h5>Plan Details</h5>
        <hr>
        <div class="row">
            <div class="col">
                <div class="input-group">           
                    <label asp-for="AssessmentNo"></label>
                    <input asp-for="AssessmentNo"/>
                    <span asp-validation-for="AssessmentNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode"/>
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label asp-for="StreetName"></label>
            <input asp-for="StreetName"/>
            <span asp-validation-for="StreetName" class="text-danger"></span>
        </div>

         <div class="row">
            <div class="col">
                <div class="input-group">
                    <label asp-for="No_Of_Rooms"></label>
                    <input asp-for="No_Of_Rooms"/>
                    <span asp-validation-for="No_Of_Rooms" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <label asp-for="No_of_perches"></label>
                    <input asp-for="No_of_perches"/>
                    <span asp-validation-for="No_of_perches" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="input-group">
            <label asp-for="BuildingArea"></label>
            <input asp-for="BuildingArea"/>
            <span asp-validation-for="BuildingArea" class="text-danger"></span>
        </div>

    </div>

       

    <!--third part-->
    <div >
        <div class="input-group">
            <label asp-for="PlanNo"></label>
            <input asp-for="PlanNo"/>
            <span asp-validation-for="PlanNo" class="text-danger"></span>
        </div>

        <div class="input-group">
            <label for="file1">Upload House Plan</label>
            <input type="file" name="file1" id="file1" accept="image/*, .pdf" />
       </div>
        <div class="input-group">
            <label for="file2">Upload Land Plan</label>
            <input type="file" name="file2" id="file2" accept="image/*, .pdf" />
        </div>

    </div>


    <!--fourth part -->
   
    <div>
        <br/>
        <h5>Approval Details</h5>
        <hr />
        <div class="row">
            <div class="col">
                <div class="input-group">           
                    <label asp-for="IsPlanApproved"></label>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <select asp-for="IsPlanApproved" class="form-select">
                        <option value="@BoolOptions.Yes">Yes</option>
                        <option value="@BoolOptions.No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group">
            <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">           
                    <label asp-for="IsInspectionCompleted"></label>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <select asp-for="IsInspectionCompleted" class="form-select">
                        <option value="@BoolOptions.Yes">Yes</option>
                        <option value="@BoolOptions.No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group">
            <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
        </div>

        <div class="row">
            <div class="col">
                <div class="input-group">           
                    <label asp-for="IsFinalApproved"></label>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <select asp-for="IsFinalApproved" class="form-select">
                        <option value="@BoolOptions.Yes">Yes</option>
                        <option value="@BoolOptions.No">No</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="input-group">
            <input type="text" placeholder="Comments" class="form-control" value="" style="height: 100px">
        </div>


    </div>



    <!--final part-->
    <div>
      
        <div class="btns-group">
            @*<a href="#" class="btn btn-prev">Previous</a>*@
            @*<button type="submit" class="btn" >Update Application</button>*@
            <a asp-controller="Application" asp-action="ApplicationDisplay" class="btn">Back to List</a>
            <button type="submit" class="btn btn-primary" style="width:150px">Update Application</button>
        </div>
    </div>
</form>

@*<script src="~/js/application.js" asp-append-version="true"></script>*@

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



